adium-theme-ubuntu==0.3.4
alabaster==0.7.10
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==2.5.3
backports.shutil-get-terminal-size==1.0.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
decorator==4.2.1
docutils==0.14
enum34==1.1.6
gyp==0.1
hyperlink==18.0.0
idna==2.6
imagesize==1.0.0
incremental==17.5.0
ipaddress==1.0.19
ipython==5.6.0
ipython-genutils==0.2.0
Jinja2==2.10
lxml==4.2.1
M2Crypto==0.22.6rc4
MarkupSafe==1.0
packaging==17.1
parsel==1.4.0
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pytz==2018.3
queuelib==1.5.0
requests==2.18.4
scandir==1.7
Scrapy==1.5.0
service-identity==17.0.0
shadowsocks==3.0.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
traitlets==4.3.2
Twisted==17.9.0
typing==3.6.4
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
w3lib==1.19.0
wcwidth==0.1.7
zope.interface==4.4.3
